<h1>新增候選人</h1>
<a href="/candidates">回候選人列表</a>



<%= form_for(@candidate, html: {id: 'candidate_form'}) do |f| %>

    <div>
        <%= f.label :name, '姓名'%>
        <%= f.text_field :name, id: 'name' %>
    </div>
    
    <div>
        <%= f.label :age, '年齡'%>
        <%= f.text_field :age, id: 'age' %>
    </div>

    <div>
        <%= f.label :party, '黨派'%>
        <%= f.text_field :party, id: 'party' %>
    </div>

    <div>
        <%= f.label :platform, '政見'%>
        <%= f.text_area :platform, id: 'platform' %>
    </div>

    <input type="submit" value="新增候選人" id="btn">

<% end %>